<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Eat-Da-Burger</title>
		<link rel="icon" href="./assets/images/burger-icon.png" type="image/x-icon">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.3/css/bulma.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="./assets/css/burger_style.css">
	</head>

	<body>
		<header>
			<div class="container">
				<div class="level vertPadding">
					<div class="level-item ">
						<img class="image heroImage" src="assets/images/burger-hero.png" alt="Burger">
						<h1 class="title is-1 leftMargin">Eat-Da-Burger!</h1>
					</div>
				</div>
			</div>
		</header>

		<main>
			{{{ body }}}
		</main>

		<footer class="footer">
			<div class="container">
				<div class="columns">
					<p class="column">&copy; Copyright 2017 Joseph Ball</p>
					<p class="column has-text-right"><a href="https://github.com/josephtball/Burger" target="_blank"><span class="icon"><i class="fa fa-github"></i></span> GitHub Repo</a></p>
				</div>
			</div>
		</footer>
	</body>
</html>